
.task-item {
  height: 1.5rem;
}
.task-item:hover {
  background: lightcyan;
  cursor: pointer;
}
.task-new {
  color: grey;
}
.task-selected {
  font-size: 1.1rem;
  color: black;
  font-weight: bolder;
  background: lightsteelblue;
}
.task-completed {
  color: green;
  text-decoration: line-through;
}
.task-error {
  color:red
}